.search-container {
  background-color: lightgray;
  height: 100vh;
}

.search {
  align-items: center;
  background: linear-gradient(to right, #6fe7ef, #003be5);
  display: flex;
  flex-direction: row;
  height: 25vh;
  justify-content: center;
  margin: auto;
}

.search > input, .search > button {
  border: 1px transparent;
  border-radius: 23px;
  height: 40px;
}

.search > input {
  background: linear-gradient(to right, rgb(236, 234, 234), #9bc0fd);
  width: 450px;
}

.search > input::placeholder {
  padding: 15px;
}

.search > button {
  background-color: #6fe7ef;
  color: white;
  font-weight: 900;
  margin-left: 15px;
  width: 150px;
}

.not-found {
  color: #c0c3c9;
  font-family: ' Epilogue' , sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin-top: 150px;
  text-align: center;
}

.error-icon {
  color: #57b3b9;
  height: 69.04;
  width: 69.04;
}
