.search {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.search > input, .search > button {
  border: 1px transparent;
  border-radius: 23px;
  height: 40px;
  margin-top: 100px;
}

.search > input {
  background: linear-gradient(to right, rgb(236, 234, 234), #9bc0fd);
  width: 450px;
}

.search > input::placeholder {
  padding: 15px;
}

.search > button {
  background-color: #6fe7ef;
  color: white;
  font-weight: 900;
  margin-left: 10px;
  width: 150px;
}

.not-found {
  text-align: center;
}
