.login-container {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: center;
  margin: auto;
  margin-top: 135px;
  width: 750px;
}

.trybe, .tunes {
  display: flex;
  flex-direction: column;
  font-family: ' Helvetica ' , sans-serif;
  font-size: 45px;
  font-style: italic;
}

.trybe {
  color: aqua;
  margin-right: 45px;
}

.tunes {
  bottom: 15px;
  color: #003be5;
  font-weight: initial;
  margin-left: 45px;
  position: relative;
}

.form-login {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input-name, .submit-button {
  border-radius: 100px;
  height: 40px;
  margin: 5px;
  text-align: center;
  width: 400px;
}

.input-name {
  border: 1px solid #003be5;
}

.input-name::placeholder {
  color: #003be5;
}

.submit-button {
  background-color: #003be5;
  color: white;
}
