.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 750px;
  height: 450px;
  margin: auto;
  margin-top: 135px;
}

span.trybe, span.tunes {
  display: flex;
  flex-direction: column;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-size: 45px;
}

span.trybe {
  color: aqua;
  margin-right: 45px;
}

span.tunes {
  color: #003be5;
  margin-left: 45px;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-name, .submit-button {
  margin: 5px;
  width: 400px;
  height: 40px;
  border-radius: 100px;
  text-align: center;
}

.input-name {
  border: 1px solid #003be5;
}

.input-name::placeholder {
  color: #003be5;
}

.submit-button {
  color: #FFFF;
  background-color: #003be5;
}
